/* Ordnen der Inhalte von API */

#catFactsApp {
    display: flex;
    gap: 15px;
}

img {
    max-width: 100%;
}

.moreFacts {
    font-size: 6vw;
    max-width: 90%;
    margin: 10% 0%;
    padding: 20px;
}


.catFact {
    display: flex;
    flex-wrap: wrap;
    background-color:#AC99BA;
    gap: 15px;
    border-radius: 10px;
}

