/* Header Schriftart */
.moreFacts {
    font-size: 6vw;
}

/* Container Main */
.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Container der Facts*/
#catFactsApp {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

/* Container pro Inhalt*/
.catFact {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 30vw;
    height: 32vh;
    background-color: #AC99BA;
    gap: 10px;
    border-radius: 10px;
    padding: 2%;
}

/* Bild formatierung */
.catFact_image {
    max-width: 48%;
    height: auto;
    border-radius: 5px;
    align-items: flex-start;
    object-fit: cover;
}

/* Text formatierung */
.catFact_text {
    padding: 10px;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    font-size: 2vw;
    max-width: 48%;
    color: #F6F5F1;
}

/* Pfote zum neuladen*/
.catpaw_reload {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 5%;
    margin-top: 30px;
    cursor: pointer;
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(131, 131, 131);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F6F5F1;
    border-radius: 10px;
}

/*** Tablet  ***/
@media screen and (max-width: 768px) {

    /* Container pro Inhalt*/
    .catFact {
        width: 80vw;
        gap: 10px;
        border-radius: 5px;
    }

    /* Bild formatierung */
    .catFact_image {
        border-radius: 3px;
    }

    /* Text formatierung */
    .catFact_text {
        padding: 8px;
        gap: 8px;
        font-size: 4vw;
    }

}

/*** Handy  ***/
@media screen and (max-width: 576px) {

       /* Container pro Inhalt*/
       .catFact {
        width: 80vw;
        gap: 10px;
        border-radius: 5px;
    }

    /* Bild formatierung */
    .catFact_image {
        border-radius: 3px;
    }

    /* Text formatierung */
    .catFact_text {
        padding: 8px;
        gap: 8px;
        font-size: 6vw;
    }


}