/* Einstellng für Body, damit das Bild Maus nicht aus dem Screen kann */
body {
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: top left;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

/* Counter wieviele Mäuse gefangen wurden  */
.score {
    display: flex;
}

/* Counter */ 
#hoverCount {
    font-size: 6vw;
    flex-direction: row;
}

/* Katzenpfote beim Counter der Mäuse */
#catpaw {
    width: 3.5%;
}



/* Katzenbild am Cursor */
#cat {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    pointer-events: none;
    width: 10%;
}

/* flüchtende Maus */

#mouse {
    width: 12%;
    padding: 30px;
    position: absolute;
    transition: left 1s, top 1s;
    /* Füge eine Übergangseigenschaft hinzu */
}

/* Popupfenster wenn die Seite geladen wird: */

/* Popup Fenster */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f1c4;
    /* Hintergrundfarbe mit Transparenz für Overlay */
    color: #F6F5F1;
    z-index: 999;
    /* Z-Index, um das Popup über anderen Inhalten zu platzieren */
}

/* Popup Inhalt */
.popup-content {
    background-color: #AC99BA;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    width: 70%;
}

/* Popup Infotext how to play */
.popup_text {
    margin-left: 25%;
    margin-right: 25%;
}

/* Popup bild Katze und Maus */

.popup-image {
    position: absolute;
    top: 20%;
    /* Anpassen, je nachdem wie weit von oben das Bild sein soll */
    right: 20%;
    /* Anpassen, je nachdem wie weit von rechts das Bild sein soll */
    width: 10%;
    /* Breite des Bildes */
    z-index: 9999;
    /* Stellen Sie sicher, dass das Bild über dem Pop-Up liegt */
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px auto 0%;
}

/* Button beim Popup */
#go_for_it {
    font-family: tell_me_a_joke;
    background-color: #000000;
    color: #F6F5F1;
    font-size: 3vw;
    border-radius: 10px;
    margin-top: 2%;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition effect */
}

#go_for_it:hover {
    background-color: #808080;
    /* Change background to gray on hover */
}

/* Popupfenster CatFact: */

/* Popup für Catfact */
.popup_fact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f1c4;
    /* Hintergrundfarbe mit Transparenz für Overlay */
    color: #F6F5F1;
    z-index: 999;
    /* Z-Index, um das Popup über anderen Inhalten zu platzieren */
}

/* Popup Inhalt Catfact */
.popup-content_fact {
    background-color: #AC99BA;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    width: 70%;
    height: 700px;
}

/* Div für API Inhalte */
.catFact {
    display: flex;
    width: 100%;
    /* increased from 50vw */
    height: 50%;
    /* increased from 32vh */
    gap: 10px;
    border-radius: 10px;
    padding: 2%;
    justify-content: space-between;
}

/* Bild formatierung */
.catFact_image {
    width: 50%;
    height: 300px;
    border-radius: 5px;
    align-items: flex-start;
    object-fit: cover;
}

/* Text formatierung */
.catFact_text {
    padding: 10px;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    font-size: 2vw;
    height: 300px;
    color: #F6F5F1;
    text-align: left;
}

/* Button beim Popup Catfact */
#more_mice {
    font-family: tell_me_a_joke;
    background-color: #000000;
    color: #F6F5F1;
    font-size: 3vw;
    border-radius: 10px;
    margin-top: 2%;
    padding: 10px;
    border: none;
    cursor: pointer;
    /* Changes cursor to pointer on hover */
    transition: background-color 0.3s ease;
    /* Smooth transition effect */
}

#more_mice:hover {
    background-color: #808080;
    /* Change background to gray on hover */
}

/* SCROLLBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(131, 131, 131);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F6F5F1;
    border-radius: 10px;
}

/*** small Laptop  ***/
@media screen and (max-width: 1260px) {

    /* Popupfenster wenn die Seite geladen wird: */

    .popup-image {
        top: 30%;
        /* Anpassen, je nachdem wie weit von oben das Bild sein soll */
        right: 17%;
        /* Anpassen, je nachdem wie weit von rechts das Bild sein soll */

    }

    /* Popup Catfact */
    .popup-content_fact {
        height: 500px;
    }

    /* Bild formatierung */
    .catFact_image {
        height: 200px;
    }

    /* Text formatierung */
    .catFact_text {
        height: 200px;
        font-size: 3vw;
    }

}

/*** Tablet ***/
@media screen and (max-width: 820px) {

    .popup-image {
        position: absolute;
        top: 28%;
        /* Anpassen, je nachdem wie weit von oben das Bild sein soll */
        right: 19%;
        /* Anpassen, je nachdem wie weit von rechts das Bild sein soll */
        width: 10%;
        /* Breite des Bildes */
        z-index: 9999;
        /* Stellen Sie sicher, dass das Bild über dem Pop-Up liegt */
    }

    .popup-content {
        padding: 35px;
    }

    /* Popup Catfact */
    .popup-content_fact {
        height: 450px;
        padding: 35px;
    }

    /* Bild formatierung */
    .catFact_image {
        height: 200px;
    }

    /* Text formatierung */
    .catFact_text {
        font-size: 4vw;
    }

}

/*** Handy  ***/
@media screen and (max-width: 576px) {
    .popup-content {
        padding: 20px;
    }

    .popup-image {
        position: absolute;
        top: 31%;
        /* Anpassen, je nachdem wie weit von oben das Bild sein soll */
        right: 20%;
        /* Anpassen, je nachdem wie weit von rechts das Bild sein soll */
        width: 10%;
        /* Breite des Bildes */
        z-index: 9999;
        /* Stellen Sie sicher, dass das Bild über dem Pop-Up liegt */
    }

    #mouse {
        width: 22%;
        padding: 30px;
        position: absolute;
        transition: left 1s, top 1s;
        /* Füge eine Übergangseigenschaft hinzu */
    }

    .popup-content_fact {
        padding: 20px;
    }

    .catFact {
        flex-direction: column;
    }

    /* Bild formatierung */
    .catFact_image {
        align-self: center;
        height: 120px;
        width: 90%;
    }

    /* Text formatierung */
    .catFact_text {
        height: 140px;
        width: 100%;
        font-size: 6vw;

    }

    /* Button formatierung */
    #more_mice {
        padding: 10px;
        margin-top: 5%;
    }

}


/*** kleines Handy  ***/
@media screen and (max-width: 200px) {
    .popup-image {
        position: absolute;
        top: 40%;
        /* Anpassen, je nachdem wie weit von oben das Bild sein soll */
        right: 10%;
        /* Anpassen, je nachdem wie weit von rechts das Bild sein soll */
        width: 10%;
        /* Breite des Bildes */
        z-index: 9999;
        /* Stellen Sie sicher, dass das Bild über dem Pop-Up liegt */
    }

}