.score {
    display: flex;
}

/* Popupfenster wenn die Seite geladen wird: */

/* Popup Fenster */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f1c4;
    /* Hintergrundfarbe mit Transparenz für Overlay */
    color: #F6F5F1;
    z-index: 999;
    /* Z-Index, um das Popup über anderen Inhalten zu platzieren */
}

/* Popup Inhalt */
.popup-content {
    background-color: #AC99BA;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    width: 70%;
}

/* Button beim Popup */
#go_for_it {
    font-family: tell_me_a_joke;
    background-color: #000000;
    color: #F6F5F1;
    font-size: 3vw;
    border-radius: 10px;
    margin-top: 10%;
    padding: 10px;
    border: none;
}

/* Popup Fenster Catfact */
.popup_fact {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f1c4;
    /* Hintergrundfarbe mit Transparenz für Overlay */
    color: #F6F5F1;
    z-index: 999;
    /* Z-Index, um das Popup über anderen Inhalten zu platzieren */
}

/* Popup Inhalt Catfact */
.popup-content_fact {
    background-color: #AC99BA;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    width: 70%;
}

/* Button beim Popup Catfact */
#more_mice {
    font-family: tell_me_a_joke;
    background-color: #000000;
    color: #F6F5F1;
    font-size: 3vw;
    border-radius: 10px;
    margin-top: 10%;
    padding: 10px;
    border: none;
}

/* Katzenbild */

#cat {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    pointer-events: none;
    width: 10%;
}

#mouse {
    width: 12%;
    padding: 30px;
    position: absolute;
    transition: left 1s, top 1s;
    /* Füge eine Übergangseigenschaft hinzu */
}

#catpaw {
    width: 3.5%;
}


#catFact {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 30vw;
    height: 32vh;
    background-color: #AC99BA;
    gap: 10px;
    border-radius: 10px;
    padding: 2%;
}

/* Bild formatierung */
.catFact_image {
    max-width: 45%;
    border-radius: 5px;
}

/* Text formatierung */
.catFact_text {
    padding: 10px;
    flex-direction: column;
    overflow: auto;
    gap: 10px;
    font-size: 2vw;
    max-width: 50%;
    color: #F6F5F1;
}

#hoverCount {
    font-size: 6vw;
    flex-direction: row;
}

.popup-image {
    position: absolute;
    top: 25%; /* Anpassen, je nachdem wie weit von oben das Bild sein soll */
    right: 20%; /* Anpassen, je nachdem wie weit von rechts das Bild sein soll */
    width: 10%; /* Breite des Bildes */
    z-index: 9999; /* Stellen Sie sicher, dass das Bild über dem Pop-Up liegt */
}