/* Browserstile zur端cksetzen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Schriftart Einf端gen */
@font-face {
    font-family: 'tell_me_a_joke';
    src: url('../schriften/tell_me_a_joke.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* HEADER */

/* Titel links */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    padding: 20px 0;
    margin: 0 auto;
}

/* Burgermenu rechts */
.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    z-index: 10;
    background-color: #AC99BA;
    flex-direction: column;
    padding: 20px;
}

.menu.active {
    display: flex;
}

ul {
    color: #F6F5F1;
    list-style: none;
}

li h1 {
    margin-bottom: 10%;
}

.navigation-link {
    font-size: 6vw;
    text-decoration: none;
    color: #F6F5F1;
    margin: 0 auto;
    transition: color 0.3s;
}

.navigation-link:hover {
    color: #000;
}

.catpaw_menu {
    width: 8%;
    margin-right: 2%;
    transition: transform 0.3s ease-in-out;
}

.menu_item:hover .catpaw_menu {
    animation: rotatePaw 0.6s infinite alternate;
}

@keyframes rotatePaw {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(30deg);
    }
}

.burger {
    cursor: pointer;
    z-index: 20;
}

.burger .bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s;
    z-index: 20;
}

/* Styling f端r das Kreuzsymbol */
.burger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
    opacity: 0;
}

.burger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}

/* Style Allgemeine */
body {
    font-family: 'tell_me_a_joke', sans-serif;
    background-color: #F6F5F1;
}

.container {
    width: 90%;
    margin: 0 auto;
}

h1 {
    font-size: 6vw;
}

p {
    font-size: 3vw;
}

/*** Tablet ***/
@media screen and (max-width: 820px) {
    p {
        font-size: 4vw;
    }
}

/*** Handy ***/
@media screen and (max-width: 576px) {
    .burger .bar {
        width: 15px;
        height: 1.5px;
        margin: 2.5px 0;
    }

    /* Styling f端r das Kreuzsymbol in der Handyansicht */
    .burger.open .bar:nth-child(1) {
        transform: rotate(45deg) translate(3px, 3px);
    }

    .burger.open .bar:nth-child(2) {
        opacity: 0;
    }

    .burger.open .bar:nth-child(3) {
        transform: rotate(-45deg) translate(3px, -3px);
    }

    p {
        font-size: 5vw;
    }
}
