/* Browserstile zurücksetzen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Schriftart Einfügen */

@font-face {
    font-family: 'tell_me_a_joke';
    src: url('../schriften/tell_me_a_joke.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}



/* HEADER */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.score {
    display: flex;
}

/* Burgermenu */

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* Das Menü erstreckt sich über die gesamte Höhe des Bildschirms */
    width: 50%;
    /* Das Menü nimmt die Hälfte der Bildschirmbreite ein */
    z-index: 10;
    /* Stellen Sie sicher, dass das Menü über anderen Inhalten liegt */
    background-color: #AC99BA;
    /* Hintergrundfarbe des Menüs */
    flex-direction: column;
    /* Menüinhalte in einer Spalte anordnen */
    padding: 20px;
    /* Platzierung des Inhalts innerhalb des Menüs */
}

.menu.active {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #AC99BA;
}

ul {
    color: #F6F5F1;
    list-style: none;
}

li h1 {
    text-decoration: underline;
}


.navigation-link {
    font-size: 6vw;
    text-decoration: none;
    color: #F6F5F1;
    margin: 10px 0;

}

.burger {
    cursor: pointer;
    z-index: 20;
}

.burger .bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s;
    z-index: 20;
}



/* Styling für das Kreuzsymbol */
.burger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
    opacity: 0;
}

.burger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}


/* Style für Startseite */

body {
    font-family: tell_me_a_joke;
    background-color: #F6F5F1;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


h1 {
    font-size: 6vw;
}

p {
    font-size: 3vw;
}

/* Ordnen der Inhalte von API */

#catFactsApp {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 40px;
}

img {
    max-width: 100%;
}



/* Popupfenster wenn die Seite geladen wird: */

/* Popup Fenster */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f5f1c4;
    /* Hintergrundfarbe mit Transparenz für Overlay */
    color: #F6F5F1;
    z-index: 999;
    /* Z-Index, um das Popup über anderen Inhalten zu platzieren */
}

/* Popup Inhalt */
.popup-content {
    background-color: #AC99BA;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    width: 70%;
}

/* Button beim Popup */
#go_for_it {
    font-family: tell_me_a_joke;
    background-color: #000000;
    color: #F6F5F1;
    font-size: 3vw;
    border-radius: 10px;
    margin-top: 10%;
    padding: 10px;
    border: none;
}

/* Katzenbild */

#cat {
    position: absolute;
    transform: translate(-75%, -83%);
    left: 0;
    top: 0;
    pointer-events: none;
}