/* Browserstile zurücksetzen */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Schriftart Einfügen */

@font-face {
    font-family: 'tell_me_a_joke';
    src: url('../schriften/tell_me_a_joke.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/* HEADER */

/* Titel links */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.score {
    display: flex;
}

/* Burgermenu rechts*/

.menu {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    /* Das Menü erstreckt sich über die gesamte Höhe des Bildschirms */
    width: 50%;
    /* Das Menü nimmt die Hälfte der Bildschirmbreite ein */
    z-index: 10;
    /* Stellen Sie sicher, dass das Menü über anderen Inhalten liegt */
    background-color: #AC99BA;
    /* Hintergrundfarbe des Menüs */
    flex-direction: column;
    /* Menüinhalte in einer Spalte anordnen */
    padding: 20px;
    /* Platzierung des Inhalts innerhalb des Menüs */
}

.menu.active {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: #AC99BA;
}

ul {
    color: #F6F5F1;
    list-style: none;
}

li h1 {
margin-bottom: 10%;
}


.navigation-link {
    font-size: 6vw;
    text-decoration: none;
    color: #F6F5F1;
    margin: 10px 0;

}

.burger {
    cursor: pointer;
    z-index: 20;
}

.burger .bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: transform 0.3s;
    z-index: 20;
}



/* Styling für das Kreuzsymbol */
.burger.open .bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
}

.burger.open .bar:nth-child(2) {
    opacity: 0;
}

.burger.open .bar:nth-child(3) {
    transform: rotate(-45deg) translate(7px, -7px);
}


/* Style Allgemeine */

body {
    font-family: tell_me_a_joke;
    background-color: #F6F5F1;
}

.container {
    max-width: 90%;
    margin: 0 auto;
}


h1 {
    font-size: 6vw;
}

p {
    font-size: 3vw;
}

#clickCount {
    font-size: 6vw;
    flex-direction: row;
}

