/* Header Schriftart */
.team {
    font-size: 6vw;
}

.container_main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Bilder Gruppenmitglieder */
.team_image {
    width: 20%;
    height: auto; /* Maintains the aspect ratio of the image */
    object-fit: contain; /* Ensures the image covers the container without distortion */
    border-radius: 10px;
}

.team_pictures {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-grow: 1;
    width: 60vw;
    height: 32vh;
    background-color: #AC99BA;
    gap: 10px;
    border-radius: 10px;
    padding: 2%;
}

#catFactsApp {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

#catFactsApp p {
    display: flex;
    gap: 10px;
    justify-content: center; /* Centers the articles horizontally */
    align-items: center; /* Centers the articles vertically */
    flex-wrap: wrap;
    padding: 10px;
    flex-direction: column;
    overflow: auto;
    font-size: 2vw;
    max-width: 75%;
    color: #F6F5F1;
}

/* SEARCHBAR */

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(131, 131, 131);
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F6F5F1;
    border-radius: 10px;
}

/***Small Laptop  ***/
@media screen and (max-width: 1024px) {

    /* Text formatierung */
    #catFactsApp p {
        font-size: 3vw;
    }

}


/*** Tablet  ***/
@media screen and (max-width: 768px) {

    /* Container pro Inhalt*/
    .team_pictures {
        width: 80vw;
        gap: 10px;
        border-radius: 5px;
    }

    /* Bild formatierung */
    .team_image {
        border-radius: 3px;
    }

    /* Text formatierung */
    #catFactsApp p{
        font-size: 4vw;
        padding: 8px;
        gap: 8px;
    }

}

/*** Handy  ***/
@media screen and (max-width: 576px) {

       /* Container pro Inhalt*/
       .team_pictures {
        width: 80vw;
        gap: 10px;
        border-radius: 5px;
    }

    /* Bild formatierung */
    .team_image {
        border-radius: 3px;
    }

    /* Text formatierung */
    #catFactsApp p{
        font-size: 6vw;
        padding: 8px;
        gap: 8px;
    }


}